body{
    background-color: rgb(29, 28, 28);
}
.navbar ul li{
    margin-left: 5px;
}
.navbar .btn{
    margin-left: 5px;
    margin-right: 5px;
}
.card-img-top{
    height: 200px;
}
.accordion{
    width: 80%;
}
.caraousal2{
width: 400px;
}
.caraousal2 image{
    height: 300px;
    width: 300px;
}
.students{
height: 450px;
align-items: center;
}
.h1{
background-color: rgb(39, 202, 18);
}
.faqs{
    height: 600px;
    align-items: center;
}
.container{
    width: 100%;
}